h1 {
    color:purple; 
    text-align: center;
}

.page-title {
    color: #0277BD;
    font-size: 40px;
    padding: 10px 10px 15px 10px;
} 
.critter-list {
    background-color: darkgray;
    margin: 10px auto;
    padding: 10px;
    width: 300px;

}
.picture {
    max-width: 1028px;
    margin: 10px;
    display: flex;
    justify-content: center;
}
.med-pic {
    width: 300px;
    
}